---
layout: default
---

<div class="bg-atom"> </div>
<div class="container my-5 text-center">
  <p>
  We are living in a moment of rapid transition. From this moment on, we will need to design for a different world to what we have known. We need to incorporate new skills to work in a hyperlocal world that is hyper connected.
  The Master in Design for Emergent Futures is a journey into designing for complexity, uncertainty and possibility. The futures we want tomorrow are enabled by the actions we take today.
  </p>
</div>

<div class="container-fluid bg-primary text-white p-5">
  <div class="row">
    <div class="col-md-6">

      <p>
      The <b>Master in Design for Emergent Futures (MDEF)</b> is organised by the <a href="https://iaac.net" target="_blank">Institute for Advanced Architecture of Catalonia</a>
      and <a href="https://www.elisava.net/en" target="_blank">Elisava Barcelona School of Design and Engineering</a>,
      in collaboration with the <a href="https://fabacademy.org/" target="_blank">Fab Academy</a>.
      </p>

      <p>
      The practical content of the Master is developed by <a href="https://fablabbcn.org/" target="_blank">Fab Lab Barcelona</a>,
      the research and innovation centre at <a href="https://iaac.net" target="_blank">IAAC</a>.
      It is a multidisciplinary design course which focuses on turning ideas into actions to transform the state of society.
      </p>

      <p>
      Our method is to propose small-scale interventions to approach large-scale challenges in order to dissolve wicked problems instead of solving them with single moonshot solutions.
      On analysis of the current global state of affairs and societal challenges, students will be encouraged to produce platforms, products and deployments for new emergent futures.
      </p>
    </div>
    <div class="col-md-6">
      <div class="text-center">
        <img src="{{ '/assets/woman.jpg' | relative_url }}" alt="Logos"/>
        <a href="https://iaac.net/educational-programmes/masters-programmes/master-in-design-for-emergent-futures-mdef/" 
           class="btn btn-dark mt-4 d-block shadow"
           target="_blank">
          Know more
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid p-5 mb-4 text-white bg-iss">
  <div class="row">
    <div class="col-md-8">

      <h3 class="font-libre font-weight-bold">The futures we want tomorrow are enabled by the actions we take today.</h3>
      <p>
      The Emergent Futures community invites designers, thinkers, makers from all backgrounds to join our journey into designing for complexity, uncertainty and possibility.
      The futures we want tomorrow are enabled by the actions we take today.
      </p>

      <a href="https://emergentfutures.io"
         class="btn btn-sm btn-danger"
         target="_blank">
        Join the EMERGENT FUTURES COMMUNITY
      </a>
    </div>
  </div>
</div>

<div class="p-5 text-center">
  <h4 class="mb-5">Created in Barcelona, and distributed around the world by:</h4>
  <img src="{{ '/assets/logos.png' | relative_url }}" alt="Logos"/>
</div>
