---
layout: default
---
{% if page.image %}
<div class="{{page.image}}"> </div>
{% endif %}

<header class="bg-primary text-white p-5">
  <div class="container">
    <h4 class="">{{ page.title | escape }}</h4>
    <div class="row">
      <div class="col-md-6">
        <h1 class="">{{ page.description | escape }}</h1>
      </div>
      <div class="col-md-6">
        <p>{{ page.note }}</p>
      </div>
    </div>
  </div>
</header>

<article class="container my-5">
  <div class="">
    {{ content }}
  </div>
</article>
